  <div>
    <h1><%= link_to question.title, question_path(question) %></h1>
    <p>
    <%= question.body %><br>
    <% if question.image.attached? %>
      <p><%= image_tag question.image.variant(resize_to_limit: [100,100]) %></p>
    <% end %>
    </p>
    <em>asked
    <%= link_to question do %> 
      <%= time_ago_in_words(question.created_at) %> ago
    <% end %> by
    <% if owner?(question) %> you </em><br>
      <%= link_to '[Edit]', edit_question_path(question) %> 
      <%= link_to '[Delete]', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to question.username, question.user %></em>
    <% end %>
    <br>
  </div>