  <div>
    <h1><%= question.title %></h1>
    <p>
    <%= question.body %><br>
    <% if question.image.attached? %>
      <p><%= image_tag question.image.variant(resize_to_limit: [100,100]) %></p>
    <% end %>
    </p>
    <em>asked
    <%= link_to question do %> 
    <%= time_ago_in_words(question.created_at) %> ago <% end %>
    by <%= link_to question.username, question.user %></em>
    <br>
  </div>