<%= render partial: 'questions/question', locals: { question: @question } %>
<hr>
<h3><strong><center>ANSWERS</center></strong></h3><br>
<% if @question.answers.count > 0 %>
  <% @question.answers.each do |answer| %>
    <% if answer.user != nil %>
      <%= render partial: 'answers/answer', locals: { answer: answer } %><br>
    <% end %>
  <% end %>
<% else %>
  <p><em>Looks like no one has answered this question yet! Be the first.</em></p>
<% end %>

<h3><strong><center>ADD AN ANSWER</center></strong></h3><br>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :content, "Reply:" %><br>
  <%= f.text_area :content %>
  <%= f.submit "Submit answer", class: "btn btn-primary" %>
<% end %>